.A{
    background-color: #489977; 
    width: 505px;
    height: 550px;
}

.B{
    background-color: #d3b1ff;
    width: 60%; 
    height: 60%; 
}

.C{
    color: white;background-color: rgb(0, 255, 21); 
    font-family: monospace; 
    font-size: 24px; 
    font-weight: bold;
}

.D{
    width: 60%; 
    height: 50vh; 
    background-color: rgb(208, 218, 152);
    
}

.E{
    width: 75vw; 
    height: 60%; 
    background-color: rgb(152, 36, 206);
}