.q_externo{
    background-color: rgb(112, 62, 62);
    width: 75%;
    height: 200px;
    border: black solid 12px;
    display: flex;
    justify-content: center;

    
    
}

.q_interno{
    background-color: white;
    color: blue;
    border: rgb(0, 7, 110) solid 12px;
    width: 75%;
    height: 60%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200;
    font-weight:700;
    display: flex;
    justify-content: center;


}
.centralizar{
    margin: auto;
}
.azul{
    margin-top: 40px;
    background-color: blue;
    width: 80%;
    height: 30px;
    margin-left: 10%;
}
.roxo{
    background-color: blueviolet;
    width: 50%;
    height: 30px;
    margin-left: 25%;
}
.verde{
    background-color: green;
    width: 70%;
    height: 30px;
    margin-left: 15%;
}
.amarelo{
    background-color: yellow;
    width: 60%;
    height: 30px;
    margin-left: 20%;
}
.esquerda{
    margin-top: 100px;
    background-color: red;
    float: left;
    width: 40%;
    height: 30px;
}
.centro{
    background-color: rgb(29, 97, 117);
    margin-top: 100px;
    float: left;
    width: 25%;
    height: 30px;
}
.direita{
    background-color: chartreuse;
    margin-top: 100px;
    float: left;
    width: 35%;
    height: 30px;
}